.holder {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
  

<<<<<<< HEAD
  
  
  
  
  
=======
.holder {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
>>>>>>> d84957dd9450f906e3867beac5c84384ad58ed0a